*.fs.js
src/App/public/js
src/App/public/libs
src/App/public/metadata
src/Standalone/
deploy/
temp/
.idea
.ionide

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Packages
node_modules
jspm_packages

# Binaries
bin
obj

# Output
build

.fake/
paket-files/
packages/
src/App/public/js/
src/App/public/libs/

src/App/public/*.eot
src/App/public/*.svg
src/App/public/*.woff2
src/App/public/*.ttf
src/App/public/*.woff

*.DS_Store
src/App/dist
