source https://nuget.org/api/v2
storage:none

nuget Fable.Core
nuget Fable.Elmish.Browser
nuget Fable.Import.Browser
nuget Fable.React
nuget Fulma 1.0
nuget Fulma.Extensions
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.HMR
nuget Thoth.Json
nuget Thoth.Elmish.Toast
nuget Fable.PowerPack

# REPL Lib
github fable-compiler/fable-import:browser-min Browser.Minimal/Fable.Import.Browser.fs

github alfonsogarciacaro/Thoth:auto-encode src/Thoth.Json/Types.fs
github alfonsogarciacaro/Thoth:auto-encode src/Thoth.Json/Decode.fs
github alfonsogarciacaro/Thoth:auto-encode src/Thoth.Json/Encode.fs
github alfonsogarciacaro/Thoth:auto-encode src/Thoth.Json/Extra.fs

github fable-compiler/fable-promise:master src/Promise.fs
github fable-compiler/fable-promise:master src/PromiseImpl.fs

github alfonsogarciacaro/Fable.SimpleHttp:patch-3 src/Http.fs
#github Zaid-Ajaj/Fable.SimpleHttp:master src/Types.fs
#github Zaid-Ajaj/Fable.SimpleHttp:master src/Http.fs

github elmish/elmish:master src/prelude.fs
github elmish/elmish:master src/cmd.fs
github elmish/elmish:master src/ring.fs
github elmish/elmish:master src/program.fs

github fable-compiler/fable-react:repl-lib src/Fable.React/Fable.Import.React.fs
github fable-compiler/fable-react:repl-lib src/Fable.React/Fable.Helpers.React.fs
github fable-compiler/fable-react:repl-lib src/Fable.Recharts/Fable.Recharts.fs

github elmish/react:master src/common.fs
github elmish/react:master src/react.fs

github MangelMaxime/Fulma:f4b330891715f94e9b735cd0ed2f01b7bb13d73d

group Build
framework: net46

    source https://nuget.org/api/v2
    nuget FSharp.Core redirects:force, content:none
    nuget FAKE ~> 4
    github fsharp/FAKE modules/Octokit/Octokit.fsx
    github fable-compiler/fake-helpers:fake_legacy Fable.FakeHelpers.fs
