source https://nuget.org/api/v2
storage:none
framework: netstandard2.0

nuget FSharp.Core
nuget Fable.Core
nuget Fable.Elmish.Browser
nuget Fable.React
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.HMR
nuget Thoth.Json
nuget Thoth.Elmish.Toast
nuget Fable.Fetch
nuget Fable.FontAwesome.Free
nuget Feliz prerelease
nuget Feliz.Bulma
nuget Feliz.Bulma.Tooltip
nuget Fable.Browser.Css
nuget Fable.Browser.Dom == 2.4.4
nuget Fable.Browser.Event == 1.4.5
nuget Fable.Browser.MediaQueryList
nuget Fable.Browser.Navigator == 2.0.0

# REPL Lib

#github thoth-org/Thoth.Json:647d6f82da84bca2b0659e924e951cd09cba6cc9
#github alfonsogarciacaro/Fable.SimpleHttp:patch-3 src/Http.fs
#github fable-compiler/fable-fetch:d5dbc4e97aafe487059f1845b5bbe3206f0aa355
#github fable-compiler/fable-react:634e0409ccc0d8310e37f778ea6c6e82c67e5fc8
#github fable-compiler/fable-recharts:94c91b3aa1381e36ea245a92c440ac5611dbf73f
#github elmish/react:master
#github fulma/Fulma:1e763d852112307370675a0cf692415a53d1993f#

github elmish/elmish:v3.x
github fable-compiler/fable-promise:14eca483d664dce5aebbe50fb92a536a7c1ffe53
github alfonsogarciacaro/Feliz.Engine:main
github alfonsogarciacaro/Feliz.Snabbdom:main
github davedawkins/Feliz.Engine.Bulma:0df54855ac3464a432cd207412ab66e650a87d77
github davedawkins/Sutil:343bc31867127638a79afede0dcaa97ca56fa264
