source https://nuget.org/api/v2
storage:none
framework: netstandard2.0

nuget Fable.Core
nuget Fable.Elmish.Browser
nuget Fable.React
nuget Fulma
nuget Fulma.Extensions.Wikiki.Switch
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.HMR
nuget Fulma.Extensions.Wikiki.Tooltip
nuget Thoth.Json
nuget Thoth.Elmish.Toast
nuget Fable.Fetch
nuget Fable.FontAwesome.Free

# REPL Lib
github thoth-org/Thoth.Json:master
github fable-compiler/fable-promise:master
github fable-compiler/fable-fetch:master
#github alfonsogarciacaro/Fable.SimpleHttp:patch-3 src/Http.fs

github fable-compiler/fable-react:master
github fable-compiler/fable-recharts:master

github elmish/elmish:master
#github elmish/react:master
github fulma/Fulma:master

group Build
framework: net46

    source https://nuget.org/api/v2
    nuget FSharp.Core redirects:force, content:none
    nuget FAKE ~> 4
    github fsharp/FAKE modules/Octokit/Octokit.fsx
    github fable-compiler/fake-helpers:fake_legacy Fable.FakeHelpers.fs