$info: #1177bb;
$primary: #1e1e1e;
$success: #73c991;
$danger: #c74e39;
$dark: #252526;
$gray-darker: #383838;
$text-color: #d4d4d4;

@import '~bulma/sass/utilities/_all.sass';

$body-size: 14px;
$body-background-color: $dark;
$text: $text-color;
$text-strong: $text;
// $navbar-background-color: $dark;

$code: $grey-lighter;
$code-background: $dark;

$link: $text;
$link-hover: lighten($text, 50);
$link-focus: lighten($text, 50);
$link-active: lighten($text, 50);
$link-focus-border: $info;
$link-active-border: lighten($text, 50);
$link-hover-border: lighten($text, 50);

$subtitle-color: $text;
$title-color: $text;
$navbar-item-color: $text;

$card-background-color: $dark;
$card-color: $text;
$card-header-color: $text;
$card-header-background-color: $gray-darker;

$button-background-color: $gray-darker;
$button-text-hover-background-color: $gray-darker;
$button-color: $text;

$tabs-toggle-link-border-style: none;
$tabs-toggle-link-active-background-color: $gray-darker;
$tabs-toggle-link-hover-background-color: $text;
$tabs-toggle-link-hover-background-color: $gray-darker;

$label-color: $text;

$menu-item-hover-color: $text-color;
$menu-item-hover-background-color: $gray-darker;

$table-background-color: $dark;
$table-color: $text;

// custom
$resize-background: #6d6d6d;
