
$body-size: 14px;

@import '~bulma/bulma';
@import '~bulma-pageloader';
@import './menu-group';

$fa-font-path: "~font-awesome/fonts/";
@import '~font-awesome/scss/font-awesome';

$tabs-header-height: 42px;

html {
    overflow-y: hidden;
}

.page-content {
    height: calc(100vh - #{$navbar-height});
    width: 100%;
    display: flex;

    .sidebar {
        display: flex;
        flex-direction: column;
        flex: none;

        &.is-expanded {
            width: 250px;
        }

        .item {
            &:hover {
                background-color: whitesmoke;

                .item-content {
                    display: block;
                    transform: translate3d(42px, -42px, 0);
                    position: fixed;
                    z-index: 2;
                }
            }

            .item-content {
                display: none;
                width: 250px;
                border: 1px solid rgba(0, 0, 0, 0.1);
            }
        }

        .card-header {
            cursor: pointer;
        }
    }

    .main-content {
        display: flex;
        width: 100%;

        .horizontal-resize {
            width: 6px;
            margin-left: -3px;
            background-color: #505050;
            cursor: ew-resize;
            z-index: 1000;
        }

        .vertical-resize {
            height: 8px;
            margin-top: -4px;
            background-color: #505050;
            cursor: ns-resize;
            z-index: 1000;
        }

        .editor-container {
            height: 100%;
            background-color: #363636;

            .card {
                background-color: #1e1e1e;

                .card-header {
                    background-color: white;
                    cursor: pointer;

                    .icon {
                        color: $dark;

                        &:hover {
                            color: grey;
                        }
                    }
                }

                .card-content {
                    padding: 0;
                    height: calc(100% - 3em); // Compensate the line-height: 1.5; of the header

                    .editor-fsharp,
                    .editor-html {
                        height: 100%;
                    }

                }
            }

        }

        .collapse-control {
            position: absolute;
            z-index: 1000;
        }

        .output-container {
            height: 100%;

            .tabs {
                margin-bottom: 0;
                height: $tabs-header-height;
            }

            .editor-output {
                height: calc(100% - #{$tabs-header-height});
            }

            iframe {
                width: 100%;
                height: calc(100% - #{$tabs-header-height});
            }
        }
    }
}

.tabs {

    ul {
        border-bottom-color: unset;
    }

    li {
        a {
            color: $white;

            &:hover {
                color: $grey;
            }
        }

        &.is-active {
            a {
                color: $info;
            }
        }
    }

}
