.calculator {
    width: 407px;
    border: 2px black solid;
    border-radius: 15px;
    padding: 10px;
}


.calculator-button {
    height: 40px;
    padding: 15px;
    text-align: center;
    margin: 5px;
    vertical-align: middle;
    width: 55px;
    font-size: 24px;
    line-height: 40px;
    cursor: pointer;
    box-shadow: 0 0 3px black;
}

.calculator-button.is-digit {
    background-color: lightgreen;
}

.calculator-button.is-op {
    background-color: lightblue;
}